
/ColossalCheatMenuV2/.vs
/ColossalCheatMenuV2/bin
/ColossalCheatMenuV2/obj
/ColossalConfig/bin
/ColossalConfig/obj
/ColossalTesting/bin
/ColossalTesting/obj
/.vs
/AssetBundleUnityProject/Assets/ColossalEmoteWheel
/AssetBundleUnityProject/Assets/Dementia
/AssetBundleUnityProject/Assets/AssetBundleOutput